type addrsetup, domain, domain_deprecated;
type addrsetup_exec, exec_type, file_type;

# Started by init
init_daemon_domain(addrsetup)

# Connect to /dev/socket/tad
unix_socket_connect(addrsetup, tad, tad)

allow addrsetup { addrsetup self }:capability { chown dac_override fowner fsetid };

allow addrsetup sysfs_addrsetup:file rw_file_perms;

allow addrsetup tad:unix_stream_socket connectto;
